@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
$verde-clarito: #ABBC85;
$verde-oscuro: #536256;
$borde-pequeno: 5px;
$borde-mediano: 10px;
$sombra-juego: rgb(0 0 0 / 10%) 0px 2px 0px 1px;
$sombra-celda: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, inset 6px 6px 28px -2px rgba(0, 0, 0, 0);
$color-invisible: rgba(0, 0, 0, 0);

body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto';
    background-color: $verde-clarito;
}

#es {
    margin-right: 1em;
}

.btn {
    width: 100%;
}

#progresoTexto {
    color: black;
}

#container {
    padding: 10px;
    background-color: rgb(85, 112, 63);
    box-shadow: $sombra-juego;
    border-radius: $borde-pequeno;
}

.celda {
    height: 200px;
    width: 220px;
    background-image: url('../images/celda.jpg');
    background-size: 100% 100%;
    border-radius: $borde-mediano;
}

.imagen {
    width: 100%;
    height: 100%;
    border-radius: $borde-mediano;
}

.sombra {
    -webkit-box-shadow: $sombra-celda;
    box-shadow: $sombra-celda;
}

#ranking {
    font-size: 2em;
}

#logo {
    border-radius: 50px;
}

#invisible {
    display: none;
    background-color: $color-invisible;
    position: absolute;
    z-index: 1;
    width: 200%;
    height: 200%;
}

footer {
    margin-top: 30px;
    padding-bottom: 20px;
    color: white;
    border-top: solid 2px $verde-oscuro;
    background: rgb(5, 1, 38);
    background: linear-gradient(90deg, rgba(5, 1, 38, 1) 16%, rgba(9, 85, 121, 1) 65%, rgba(31, 61, 29, 1) 100%);
}